
<div class="astro-bg">
    <div class="sun"></div>
    <div class="moon"></div>
  </div>
<nav>
    <div class="nav-links">
      <a href="index.html">Neel Sundar</a>
      <a href="career.html">career</a>
      <a href="assests/images/Neel Sundar Resume.pdf" target = "_blank">resume</a>
      <a href="about.html">about</a>
    </div>

    <div class="theme-switch">
  <input type="checkbox" id="theme-toggle" />
  <label for="theme-toggle">
    <span class="toggle-circle"></span>
  </label>
  </div>
</nav>